.container {
  background-color: #fff4ee;
  width: 100%;
  display: flex;
  justify-content: center;

  &_content {
    width: 80%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &_navbar {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
    @media screen and (max-width: 1200px) {
      flex-direction: column;
      align-items: baseline;
    }
  }

  &_courses {
    font-size: 48px;
    font-weight: 400;
  }
  &_popular {
    color: #6749a5;
    font-size: 24px;
    font-weight: 700;
    @media screen and (max-width: 550px) {
      font-size: 16px;
    }
  }

  &_favorite {
    color: #cbb1a2;
    font-size: 24px;
    font-weight: 700;
    @media screen and (max-width: 550px) {
      font-size: 16px;
    }
  }

  &_section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }
  &_items {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-between;
    @media screen and (max-width: 550px) {
      width: 200px;
    }
  }

  &_bgimage {
    width: 1141px;
    @media screen and (max-width: 1200px) {
      width: 800px;
    }
    @media screen and (max-width: 700px) {
      width: 500px;
    }
    @media screen and (max-width: 400px) {
      width: 250px;
    }
  }

  &_first {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &_second {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    margin-top: 10px;
  }

  &_texts {
    position: absolute;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
  }

  &_illustration {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    @media screen and (max-width: 400px) {
      font-size: 16px;
    }
  }

  &_lessons {
    color: #ffffff;
    font-size: 16px;
  }

  &_icon {
    max-width: 100px;
    width: 100%;
    @media screen and (max-width: 1200px) {
      width: 60px;
    }
    @media screen and (max-width: 1400px) {
      width: 30px;
    }
  }
}
