.container {
  width: 160px;
  height: 1000px;
  background-color: hsl(20, 100%, 92%);
  padding-top: 100px;
  @media screen and (max-width: 700px) {
    width: 80px;
  }

  &_items {
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &_icon {
    max-width: 80px;
    width: 100%;
    @media screen and (max-width: 700px) {
      width: 35px;
    }
  }
}
